{% extends 'base.html.twig' %}

{% block body %}
    <section class="vbox" id="wrapperContainer"></section>
{% endblock %}

{% block javascripts %}
    <script src="http://localhost:3000/static/bundle.js" type="text/javascript"></script>
{% endblock %}
